<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    {{!-- Css --}}
    <link rel="stylesheet" href="css/bootstrap-icons/font/bootstrap-icons.min.css" />
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    {{!-- Javascript --}}
    <script src="/javascripts/bootstrap.min.js" defer></script>
    {{!-- my Javascript --}}
    <script src="/javascripts/scripts.js" defer></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>



